:root {
  --yellow: #FFD602;
  --blue: #016FB9;
  --red: #FF0000;
  --font-light: 100;
  --font-normal: 300;
  --font-bold: 700;
  --delay: 2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.page {
  height: 100vh;
  position: relative;
}

.content {
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas: "nav aside" "section aside" "footer aside";
}

header {
  grid-area: nav;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100%;
  margin-left: 80px;
  animation-name: navbar;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.7s;
}
@keyframes navbar {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
header nav img {
  width: 50px;
}
header ul li {
  display: inline-block;
  list-style: none;
  margin-left: 1.25rem;
}
header ul li a {
  display: block;
  color: var(--red);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
header ul li a:hover {
  transform: scale(1.03);
  text-decoration: underline;
}

.loader {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 70px);
  place-content: center;
  position: absolute;
  z-index: 3;
  background-color: white;
  animation: loader 1.5s linear forwards;
}
@keyframes loader {
  0%, 90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader div {
  background-color: lightgreen;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px auto;
  transform: scale(0);
  animation: scaling var(--delay) ease-in-out infinite;
}
.loader div:nth-child(2) {
  animation-delay: 0.2s;
}
.loader div:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes scaling {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.8);
  }
}

.main-content {
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  animation-name: main-content;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.7s;
}
@keyframes main-content {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.main-content h1 {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}
.main-content .not-bold {
  position: relative;
  top: 0.875rem;
  margin-left: 40px;
  font-size: 2.25rem;
  font-weight: var(--font-normal);
}
.main-content p {
  width: 60%;
  margin-top: 1.875rem;
  font-weight: var(--font-light);
}

.side-content {
  grid-area: aside;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  position: relative;
}
.side-content p {
  font-size: 2.25rem;
  transform: scale(0) rotate(270deg);
  animation-name: superman-font;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: var(--delay);
  animation-fill-mode: forwards;
}
@keyframes superman-font {
  0% {
    transform: scale(0) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(270deg);
  }
}
.side-content img {
  width: 100%;
  padding: 20px;
  grid-column: 2/6;
  position: absolute;
  z-index: 1;
  transform: translateY(300%);
  animation-name: superman-img;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: var(--delay);
  animation-timing-function: cubic-bezier(0.21, -0.04, 0.41, 1.52);
  animation-fill-mode: forwards;
}
@keyframes superman-img {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}
.side-content .side-content__color {
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  grid-column: 4/7;
  z-index: 0;
}

footer {
  grid-area: footer;
}/*# sourceMappingURL=styles.css.map */